body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-x: hidden; /* Ocultar barra horizontal */
}

/* -----  HEADER SECTION ---- */

body, div, ul, nav, header, footer, a, li, label{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size; /* Definimos el contenedor para las consultas */
    container-name: header;
    position: sticky;
    top:0;
    box-shadow: 0 0.4px 0.2px rgba(0, 0, 0, 0.3);
}
.header a{
    display: flex;
}

.header__open-nav-button{
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 40px;
}

.header__checkbox{
    display: none;
}

.header__nav-list{
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;  
}

.header__nav{
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.header__checkbox:checked ~ .header__nav{
    display: flex;
}

.header__logo{
    max-width: 100%;
    width: 200px;
    margin: 10px 20px;
    cursor: pointer;  /* Cambia el cursor a una mano al pasar sobre el logo */
    transition: transform 0.3s ease;  /* Suaviza la transición al pasar el mouse */
}

.header__logo-container img{
    height: 100px;
}

.header__nav-item{
    list-style: none;
}

.header__nav-item a{
    text-decoration:none;
    color: #099018;
}

.header__nav-item a:is(:active,:hover){
    text-decoration: underline;
}



/* ----- HEADER QUERIES ------ */


@container header (min-width: 750px){
    .header__nav{
        display: block;
        position: static;
        height: auto;
        justify-content: space-evenly;
        width: auto;
    }

    .header__nav-list{
        flex-direction: row;
        height: auto;
        gap: 20px;
        margin-right: 40px;
    }

    .header__open-nav-button{
        display: none;
    }

}


/* ----- END QUERIES ------ */

/* ----- BLOCK CONSTRUCTION SECTION ---- */


.main__wrapper{
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* CONTENEDORES DE IMAGENES */
.main__wrapper-img{
    min-width: 350px;
    min-height: 325px;
    background-image: url(/img/banner_coming_soon.png);
    margin: 0px 20px 0px 20px;
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;
    margin-top: 10px;
}

.main__wrapper__coming-son__img{
    width: 320px;
    max-width: 400px;
    height: 100px;
    background-image: url(/img/color_coming_soon.png);
    background-position: center;
    background-size: cover;
    aspect-ratio: 16/9;
}

/* CONTENEDOR COMING SOON SECUNDARIO */
.main__wrapper-coming-soon{
    margin: 20px;
    margin-top: 0px;
}

.btn {
    padding: 1rem;
    border-radius: 15px;
    border: none;
    background: #099018;
    color: #fff;
    text-align: center;
    min-width: 10rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 20px;
}

/* ----- BLOCK CONSTRUCTION QUERIES ------ */

@media (min-width: 900px){
    .main__wrapper{
        width: 100vw;
        height: 70vh;
    }

    .main__wrapper-img{
        min-width: 430px;
        min-height: 400px;
    }

}
  

/* Animación de desvanecimiento */